@using Microsoft.AspNetCore.Components

<div class="cta-section">
    <div class="container">
        <div class="cta-content">
            <div class="text-area">
                <h2 class="cta-title @Color">@Title</h2>
                <p class="cta-subtitle">@Subtitle</p>
                @if (!string.IsNullOrEmpty(ButtonText))
                {
                    @if (Price != 0m)
                    {
                        <h1 class="cta-price">R$@Price.ToString("N2")/hora<span
                                class="cta-oldprice">R$@OldPrice.ToString("N2")</span></h1>
                    }
                    <ButtonComponent Text="@ButtonText" Href="@ButtonHref" Color="@ButtonColor">
                    </ButtonComponent>
                }
            </div>

            @if (!string.IsNullOrEmpty(ImageUrl))
            {
                <div class="image-area">
                    <img src="@ImageUrl" alt="Imagem de chamada" />
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Prepare-se para o Próximo Passo";
    [Parameter] public string Subtitle { get; set; } = "Domine os conteúdos com propósito e método.";
    [Parameter] public string ButtonText { get; set; } = "Matricule-se";
    [Parameter] public string ButtonHref { get; set; } = "/";
    [Parameter] public string ButtonColor { get; set; } = "bggold-2";
    [Parameter] public string ImageUrl { get; set; } = "";
    [Parameter] public string Color { get; set; } = "";
    [Parameter] public decimal Price { get; set; } = 0;
    public decimal OldPrice => Price / 0.7m;
}