@page "/"
@using SchoolData

<PageTitle>Nous Nova | Centro de Estudos</PageTitle>

<div class="homePage">
    <section class="wellcome-section" id="s2">
        <div class="container">
            <div class="content">
                <h1 class="title">@schoolData.SchoolName</h1>
                <h2 class="sub-title">@schoolData.SchoolSecondName</h2>

                <CtaComponent 
                    Title="A Nova Elite Intelectual"
                    Subtitle="Abandone o ensino medíocre. Junte-se a um currículo inspirado em Harvard e École Polytechnique. Rigor científico absoluto."
                    ButtonHref="/admissao" ButtonColor="bgblue-1" ImageUrl="images/NousNovaLogo.png" Color="text-dark"
                    Price="0"
                />
            </div>
        </div>
    </section>

    <section class="courses-section" id="s2">
        <div class="container">
            <h1>Domínios do Conhecimento</h1>
            <div class="content">
                <div class="disciplines">
                    <div class="grid">
                        @foreach (Discipline discipline in disciplinesData.Disciplines)
                        {
                            @if (discipline.Active)
                            {
                                <NavLink class="card card-hover" href=@($"/disciplines/{discipline.Label}") ActiveClass="">
                                    <div class="discipline-div">
                                        <h2 class="card-title">@discipline.Name</h2>
                                        <p class="card-content">@discipline.Subtitle</p>
                                        <p class="card-cta">Examinar Programa</p>
                                    </div>
                                </NavLink>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="depoiments-section" id="s1">
        <div class="container">
            <h1>Trajetórias de Rigor</h1>
            <div class="depoiments">
                <p>O silêncio e a privacidade resguardam o foco. Preservamos a identidade de nossos alunos para
                    priorizar seus resultados intelectuais.</p>
                <ul class="grid">
                    @foreach (var depoiment in depoimentsData.Depoiments)
                    {
                        <div class="card">
                            <div class="depoiments-dive">
                                <h2 class="card-title">@depoiment.Key</h2>
                                <p class="card-content">@depoiment.Value</p>
                            </div>
                        </div>
                    }
                </ul>
            </div>
        </div>
    </section>

    <section class="about-section" id="s2">
        <div class="container">
            <div class="content">
                <CtaComponent Title="O Ciclo da Maestria" Subtitle=@($"No {schoolData.SchoolName}, transcendemos a             memorização. Nosso método forja a autonomia através de um ciclo inegociável: do Problema à                  Investigação, culminando na Formalização rigorosa e na Transmissão do saber. Preparamos o intelecto            para a universalidade do conhecimento, seja em exames de alta complexidade ou na vida acadêmica.")
                    ButtonText="Leia o Manifesto" ButtonHref="/about">
                </CtaComponent>
            </div>
        </div>
    </section>

</div>

@code {
    DisciplinesData disciplinesData = new DisciplinesData();
    DepoimentsData depoimentsData = new DepoimentsData();
    SchoolData schoolData = new SchoolData();
    decimal Price = 140m;
}